<div class="user-config-container">
    <div class="user-config-header">
        <button class="back-button" (click)="back()">←</button>
        <h1 class="user-config-title">Settings</h1>
    </div>

    <div class="config-content">
        <div class="config-section">
            <h3>User Settings</h3>
            <div class="config-buttons">
                <button class="config-button">Change Username</button>
                <button class="config-button">Change Profile Picture</button>
            </div>
        </div>

        <button class="config-button logout" (click)="popOutWarning = true">
            Log Out
        </button>
    </div>

    @if(popOutWarning){
        <div class="logout-warning">
            <div class="logout-warning-content">
                <h2>Are you sure?</h2>
                <p>You will have to save your password to log in again.</p>
                <div class="warning-buttons">
                    <button class="warning-button confirm" (click)="logout()">Sí</button>
                    <button class="warning-button cancel" (click)="popOutWarning = false">No</button>
                </div>
            </div>
        </div>
    }
</div>